.logo {
  position: absolute;
  width: 120px;
  height: 29.24px;
  left: 150px;
  top: 20px;
}
.welcome-to-your-dashboard {
  position: absolute;
  width: 381px;
  height: 124px;
  left: 150px;
  top: 120px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.02em;
  color: #1e272e;
}
.this-is-the-homepage {
  position: absolute;
  width: 431px;
  height: 90px;
  left: 150px;
  top: 300px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #566474;
}
.pic {
  position: absolute;
  width: 65%;
  height: 70%;
  left: 150px;
  top: 450px;
}

.second {
  position: absolute;
  width: 498px;
  height: 404px;
  left: 65%;
  top: 250px;

  border: 1px solid #dfe0e0;
  box-sizing: border-box;
  border-radius: 10px;
}
.form {
  position: absolute;
  width: 400px;
  height: 404px;
  left: 20%;
  top: 50px;
}
.label {
  top: auto;
  font-family: "Times New Roman", Times, serif;
}
.f1 {
  top: 100px;
}
.f2 {
  top: 100px;
}
.button {
  padding: 8px 16px;
  color: #ffffff;
  position: absolute;
  width: 400px;
  height: 44px;
  left: -12%;
  top: 230px;
  background: #142683;
  border-radius: 5px;
}
