@import "styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

.header {
  position: absolute;
  width: 64%;
  height: 50px;
  left: 30%;
  top: 5%;
  border-radius: 15px;
  background: rgb(119, 115, 115);
}
.menu {
  width: 100%;
  overflow: auto;
  border-radius: 15px;
  background: #f8fafa;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 50px;

    li {
      float: right;
      padding: 10px 10px 10px 10px;

      a {
        width: 100px;
        padding: 10px 10px 10px 10px;
        border: 1px solid #4e177c;
        border-radius: 5px;
      }
      a:hover {
        position: relative;
        color: rgb(228, 101, 43);
        border: 3px solid rgb(228, 101, 43);
      }
    }
  }
}

.search_bar {
  margin: 15px;
  margin-left: 50px;
  float: left;
}
input {
  border-radius: 5px;
  width: 500px;
}
input[type="text"] {
  padding: 7px;
  border: none;
  font-size: 20px;
  font-family: sans-serif;
}
input::placeholder {
  padding: 7px;
  border: none;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  float: left;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  padding: 7px;
  border: none;
  font-size: 20px;
}
